<!DOCTYPE html>
<html>
    <head>
        <style>
            .fullscreen{
                width: 100%;
                height: 100%;
                display: block;
                margin: 0px;
                top: 0px;
                left: 0px;
                position: absolute;
            }
            .artwork{
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                margin: 0px;
                top: 0px;
                left: 0px;
                z-index: 100;
                position: absolute;
            }
            .bottomInfo{
                width: 100%;
                background-color: rgba(0, 0, 0, 0.8);
                z-index: 110;
                bottom: 0;
                position:absolute;
                padding: 20px;
            }
            h1 {
                color: white;
                font-family: Impact, Charcoal, sans-serif;
            }
            h2 {
                color: grey;
                font-family: Impact, Charcoal, sans-serif;
            }
        </style>
    </head>
    <body>
        <div class="fullscreen">
            <img class="artwork" src="<%= art_url %>"/>
            <div class="bottomInfo">
                <h1>
                    <%= media_title %>
                </h1>
                <h2>
                    <%= media_subtitle %>
                </h2>
            </div>
        </div>
    </body>
</html>
