<!DOCTYPE html>
<html>
    <head>
        <style>
            div{
                width: 900px;
                height:1440px;
                display: block;
                margin: 0px;
                top: 0px;
                left: 0px;
                position: absolute;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                margin: 0px;
                top: 0px;
                left: 0px;
            }
        </style>
    </head>
    <body>
        <div>
            <img src="<%= art_url %>"/>
        </div>
    </body>
</html>
